* { cursor: none; }

body {
  font-family: "Trade Gothic" !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body .ui-body-c, body .ui-overlay-c {
  text-shadow:0 0 0;
}

.ui-body-c,
.ui-body-c input,
.ui-body-c select,
.ui-body-c textarea,
.ui-body-c button {
  font-family: "Trade Gothic" !important;
}

#options-list li {
  font-family: "Trade Gothic" !important;
}

.ui-select {
  width: 400px;
  float: left;
  margin: -10px 10px;
}

#lot-title {
  font-size: 40px;
}

#update-form {
  font-size: 28px;
}

select {
  font-size: 28px;
  margin-right: 30px;
}

#options-list {
  list-style: none;
  font-size: 35px;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

#options-list li {
  padding: 15px 0px;
  margin: 10px 0px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  color: #b5121b;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  color: #000000;
}

label {
  font-size: 40px;
}

.area {
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg);
  margin-top: 35px;
  font-size: 25px;
  color: #ffffff;
  float: right;
}
.model {
  width: 360px;
  height: 40px;
  padding: 30px;
  color: #ffffff;
  font-size: 30px;
  float: left;
}

.model-image {
  height: 100px;
  float: left;
}

.model-email-box {
  background-color: #000000;
  width: 600px;
  height:100px; 
  margin: 10px;
  float: left;
  font-family: 'Trade Gothic';
}

.form-control {
  width: 400px;
  height: 100px;
  font-size: 30px;
}

.brochureForm {
  margin-top: 20px;
  margin-left: 20px;
}

.form-group {
  margin-top: 10px;
  width: 400px;
}

.form-group label {
  color: #fff;
  font-family: 'Trade Gothic';
}



/*
Spotlight
*/
#spotlight {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0px;
    left: 0px;
    
    z-index:199;
}

#spotlight .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.88);
    cursor: pointer;
}

#spotlight .close-button {
    z-index: 999;
    position: absolute; 
    width: 30px; 
    height: 30px;
    left: 50%;
    top: 50%;    
    background: url(images/spotlight/closeButton.png);
    cursor: pointer;
    display: none;
}

#spotlight .base {
    position: absolute;

    /*width: 400px;*/
    /*height: 400px;*/    

    left: 50%;
    top: 50%;
    
    /*margin-left: -200px;*/ /* 0.5 * width */
    /*margin-top: -200px;*/  /* 0.5 * height */

    background-color: white;
    
    overflow: hidden;
    
    border: solid;
    
    cursor: default;
}

#spotlight .content {
    width: 100%;
    height: 100%;
    display: none;
}
#spotlight .fader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}